.img-profile img {
    border-radius: 50%;
    width: 8rem;
    &:hover{
        transform: scale(1.2);
    }
}

#about {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
    display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.flex {
    background-color: black;
    width: 100%;
    min-height: 91vh;
}

.bio-text {
    color: white;
    width: 40rem;
    margin-left: 23rem;
    margin-top: 3rem;
}

@media screen and (max-width:468px){
    .bio-text{
        color: white;
        width: 20rem;
        margin-left: 2rem;
    }
}
