.flex-center {
    width: 100%;
    min-height: 91vh;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media screen and (max-width:468px){
    .flex-center {
      display:block;
      margin-top: 9rem;
    }
  }
 
  @media screen and (max-width:468px){
    .flex-center-label label {
      display:none;
    }
  }

  .skills-icon {
    padding: 7px;
    &:hover  {
     transform:scale(0.9);
     box-shadow:0 0 1em #3DCFCF;
  }
}
  
  .flex-center-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;

    label {
        margin-bottom: -25rem;
        padding: 1.5rem;
        font-size: 21px;
    }
  }
